Carga de datos

In [1]:
import pandas as pd

# Cargar los CSV en DataFrames
box_score_df = pd.read_csv('c:/Users/Casa/Documents/GitHub/ProjecyEuroleague/data cleaned/box_score_2023.csv')
comparison_df = pd.read_csv('c:/Users/Casa/Documents/GitHub/ProjecyEuroleague/data cleaned/comparison_2023.csv')
efficiency_df = pd.read_csv('c:/Users/Casa/Documents/GitHub/ProjecyEuroleague/data cleaned/euroleague_players_efficiency.csv')
head_to_head_df = pd.read_csv('c:/Users/Casa/Documents/GitHub/ProjecyEuroleague/data cleaned/head_to_head_2023.csv')
header_df = pd.read_csv('c:/Users/Casa/Documents/GitHub/ProjecyEuroleague/data cleaned/header_2023.csv')
home_away_df = pd.read_csv('c:/Users/Casa/Documents/GitHub/ProjecyEuroleague/data cleaned/home_away_performance_2023.csv')
play_by_play_df = pd.read_csv('c:/Users/Casa/Documents/GitHub/ProjecyEuroleague/data cleaned/play_by_play_2023.csv')
players_df = pd.read_csv('c:/Users/Casa/Documents/GitHub/ProjecyEuroleague/data cleaned/players_2023.csv')

Limpieza de columnas

In [2]:
# Eliminar columnas irrelevantes
box_score_df.drop(columns=['game', 'round', 'phase', 'season_code', 'dorsal', 'player', 'minutes', 'is_playing', 'is_starter'], inplace=True)
comparison_df.drop(columns=['game', 'round', 'phase', 'season_code', 'minute_prev_a', 'minute_prev_b'], inplace=True)
efficiency_df.drop(columns=['game', 'round', 'phase', 'season_code', 'player', 'dorsal', 'minutes', 'is_playing', 'is_starter'], inplace=True)
header_df.drop(columns=['game', 'round', 'phase', 'season_code', 'coach_a', 'coach_b', 'referee_1', 'referee_2', 'referee_3', 'stadium', 'capacity'], inplace=True)
play_by_play_df.drop(columns=['game', 'round', 'phase', 'season_code', 'quarter', 'type', 'number_of_play', 'comment', 'play_info'], inplace=True)
players_df.drop(columns=['season_player_id', 'player', 'games_played', 'games_started', 'minutes', 'plus_minus', 'two_points_percentage', 'three_points_percentage', 'free_throws_percentage'], inplace=True)

In [5]:
header_df.head(10)

,game_id,date,time,score_a,score_b,team_a,team_b,team_id_a,team_id_b,game_time,...,score_quarter_3_b,score_quarter_4_b,score_extra_time_1_a,score_extra_time_2_a,score_extra_time_3_a,score_extra_time_4_a,score_extra_time_1_b,score_extra_time_2_b,score_extra_time_3_b,score_extra_time_4_b
0,E2023_001,2023-10-05,19:00:00,94,73,CRVENA ZVEZDA MERIDIANBET BELGRADE,LDLC ASVEL VILLEURBANNE,RED,ASV,40:00,...,55,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E2023_002,2023-10-05,20:30:00,91,74,FC BARCELONA,ANADOLU EFES ISTANBUL,BAR,IST,40:00,...,64,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E2023_003,2023-10-05,20:30:00,80,68,FC BAYERN MUNICH,ALBA BERLIN,MUN,BER,40:00,...,51,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E2023_004,2023-10-05,20:05:00,96,81,MACCABI PLAYTIKA TEL AVIV,PARTIZAN MOZZART BET BELGRADE,TEL,PAR,40:00,...,58,81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E2023_005,2023-10-05,20:30:00,79,82,VIRTUS SEGAFREDO BOLOGNA,ZALGIRIS KAUNAS,VIR,ZAL,40:00,...,58,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,E2023_006,2023-10-06,19:45:00,85,82,FENERBAHCE BEKO ISTANBUL,EA7 EMPORIO ARMANI MILAN,ULK,MIL,45:00,...,54,76,85.0,NaN,NaN,NaN,82.0,NaN,NaN,NaN
6,E2023_007,2023-10-06,20:15:00,78,88,PANATHINAIKOS ATHENS,OLYMPIACOS PIRAEUS,PAN,OLY,45:00,...,52,74,78.0,NaN,NaN,NaN,88.0,NaN,NaN,NaN
7,E2023_008,2023-10-06,20:30:00,77,79,BASKONIA VITORIA-GASTEIZ,REAL MADRID,BAS,MAD,40:00,...,62,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,E2023_009,2023-10-06,20:30:00,70,65,VALENCIA BASKET,AS MONACO,PAM,MCO,40:00,...,51,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,E2023_010,2023-10-12,20:00:00,86,91,ALBA BERLIN,BASKONIA VITORIA-GASTEIZ,BER,BAS,40:00,...,76,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Unir Dataframes

In [7]:
merged_df = box_score_df.merge(comparison_df, on='game_id')
merged_df = merged_df.merge(efficiency_df, on='game_player_id')

In [9]:
merged_df = merged_df.merge(header_df, left_on='game_id_x', right_on='game_id', how='left')

In [11]:
merged_df.head(10)

,game_player_id,game_id_x,player_id_x,team_id_x,points_x,two_points_made_x,two_points_attempted_x,three_points_made_x,three_points_attempted_x,free_throws_made_x,...,score_quarter_3_b,score_quarter_4_b,score_extra_time_1_a,score_extra_time_2_a,score_extra_time_3_a,score_extra_time_4_a,score_extra_time_1_b,score_extra_time_2_b,score_extra_time_3_b,score_extra_time_4_b
0,E2023_148_P012729,E2023_148,P012729,ASV,10,2,3,2,3,0,...,51,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E2023_148_P011225,E2023_148,P011225,ASV,17,5,8,1,6,4,...,51,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E2023_148_PKIR,E2023_148,PKIR,ASV,5,1,2,1,2,0,...,51,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E2023_148_P004194,E2023_148,P004194,ASV,16,8,13,0,1,0,...,51,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E2023_148_P012080,E2023_148,P012080,ASV,20,5,8,2,3,4,...,51,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,E2023_148_P003274,E2023_148,P003274,ASV,0,0,0,0,0,0,...,51,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,E2023_148_P000229,E2023_148,P000229,ASV,0,0,2,0,1,0,...,51,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,E2023_148_P012730,E2023_148,P012730,ASV,4,2,4,0,0,0,...,51,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,E2023_148_P006568,E2023_148,P006568,ASV,4,2,4,0,0,0,...,51,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,E2023_148_P003526,E2023_148,P003526,ASV,0,0,1,0,2,0,...,51,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
home_away_df.head(10)

  team_id_a  home_points_avg team_id_b  away_points_avg
0       ARI        79.700000       ARI        70.500000
1       ASV        77.597701       ASV        72.400000
2       AVE        74.000000       AVE        76.800000
3       BAM        78.486842       BAM        72.105263
4       BAR        80.953668       BAR        77.387097
5       BAS        82.547009       BAS        78.936170
6       BER        76.699115       BER        76.521739
7       BES        67.500000       BES        65.166667
8       BIL        78.700000       BIL        72.200000
9       BUD        75.866667       BUD        72.800000

In [13]:
# Unir el equipo de casa
merged_df = merged_df.merge(home_away_df, left_on='team_id_x', right_on='team_id_a', how='left', suffixes=('_merged', '_home'))

# Unir el equipo visitante
merged_df = merged_df.merge(home_away_df, left_on='team_id_x', right_on='team_id_b', how='left', suffixes=('_merged', '_away'))

In [14]:
merged_df.to_csv('merged_euroleague_data.csv', index=False)

In [17]:
merged_df['team_a_win'] = (merged_df['score_a'] > merged_df['score_b']).astype(int)

In [18]:
# Separar características (X) y variable objetivo (y)
X = merged_df[['points_x', 'total_rebounds_x', 'assists_x', 'turnovers_x', 'steals_x', 'valuation_x']]

y = merged_df['team_a_win']  # Suponiendo que esta columna representa el equipo ganador

# Dividir en conjunto de entrenamiento y prueba
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Entrenar un modelo (e.g., Random Forest)
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)

# Evaluar el modelo
accuracy = model.score(X_test, y_test)
print(f'Accuracy: {accuracy}')

Accuracy: 0.5980105324751317